body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  height: 100%;
  background-color: black;
}

.rowtitles {
  color: orangered;
  padding-left: 15px;
  font-family: "Titillium Web", sans-serif;
  background-color: #f5efef;
  margin-top: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  overflow-x: hidden;
}

@media screen and (max-width: 760px) {
  html,
  body {
    overflow-x: hidden;
    margin: 0px;
    height: 100%;
  }
}

/* -----------CSS FOR HEADER SECTION------------- */
:root {
  --text-color: #707b8e;
}

.headerContainer {
  border-bottom: 1px solid grey;
  padding: 3px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.otherInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.otherInfo a {
  font-size: 14px;
  text-decoration: none;
  padding: 5px 20px;
  color: var(--text-color);
}

.mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
  height: 20px;
  width: 43px;
  background-color: #d1d6df;
  border-radius: 41px;
  cursor: pointer;
}

.colorText {
  color: var(--text-color);
}

.contactNumber {
  color: var(--text-color);
  font-size: 13px;
}

.circle {
  position: relative;
  left: 0px;
  height: 15px;
  width: 16px;
  background-color: #7b7474;
  border-radius: 50%;
  margin-left: 6px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fa-whatsapp {
  height: 15px;
}

.moveright {
  position: relative;
  left: 16px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.counter {
  position: absolute;
  height: 24px;
  width: 23px;
  background-color: #ff4400;
  text-align: center;
  border-radius: 50%;
  left: -1px;
  top: -14px;
  color: white;
}

/* MEDIA QUERY */
@media screen and (max-width: 760px) {
  .headerContainer {
    height: 30px;
    padding: 3px 15px;
  }
  .otherInfo {
    margin-bottom: 2px;
  }
  .otherInfo a {
    font-size: 12px;
    padding: 0px 6px;
  }
  .contactNumber {
    padding: 3px 2px;
    font-size: 10px;
  }
  .sellProduct {
    display: none;
  }
  .circle {
    left: -3px;
  }
  .mode {
    margin-top: 3px;
    height: 17px;
    width: 36px;
  }
  .moveright {
    left: 12px;
  }
}

/* ----------------SEARCH AREA CSS------------- */
.searchArea {
  position: relative;
  left: 15px;
  margin: 7px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "logo search search search cart";
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.search {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: search;
}

.cart {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: cart;
  position: relative;
  left: 55px;
}

.logo img {
  height: 65px;
}

.search input {
  width: 75%;
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: 1px solid grey;
}

.category {
  border: 1px solid grey;
  padding: 8px 13px 11px 16px;
  border-right: none;
  background-color: orangered;
  color: white;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
}

.fa-search:before {
  content: "\f002";
  font-size: 26px;
  background-color: orangered;
  padding: 7px 28px 9px 27px;
  border-radius: 0px 18px 18px 0px;
  position: relative;
  top: 4px;
  cursor: pointer;
}

.cart a {
  text-decoration: none;
  color: black;
  padding: 16px;
  font-size: 19px;
}

/* MEDIA QUERY */
@media screen and (max-width: 1350px) {
  .search input {
    width: 50%;
  }
}

@media screen and (max-width: 760px) {
  .searchArea {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
        grid-template-areas: none;
    margin: 3px 0px;
  }
  .searchArea .counter {
    height: 20px;
    width: 20px;
  }
  .search input {
    width: 95%;
    padding: 7px 91px 7px 10px;
    font-size: 13px;
    border-radius: 18px 0px 0px 18px;
    margin: 7px -19px;
  }
  .logo img {
    position: relative;
    left: -120px;
    top: 7px;
    height: 65px;
    margin: 0px 15px;
  }
  .category {
    display: none;
  }
  .fa-search:before {
    font-size: 10px;
    background-color: #ff4000;
    padding: 8.2px 14px 5px 14px;
    font-size: 18px;
    border-radius: 0px 18px 18px 0px;
  }
  .cart {
    position: absolute;
    top: 25px;
    left: 150px;
  }
  .cart a {
    padding: 9px;
  }
  .cart i {
    margin: 0;
    font-size: 18px;
  }
}

/* -------------------------------------CATEGORY CSS--------------------------------------------- */
.categorycontainer {
  background-color: orangered;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.cat {
  position: relative;
  cursor: pointer;
}

.categorylist {
  height: 0px;
  position: absolute;
  overflow: hidden;
  background-color: #eaebee;
  margin: 10px 0px;
  padding: 0px 68px 0px 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
}

.showcategory {
  height: 330px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.categorylist li {
  padding: 10px 3px 10px 5px;
  list-style: none;
}

.categorylist li a {
  text-decoration: none;
}

.categorylist li a:hover {
  color: orangered;
}

.stylenone {
  text-decoration: none;
  color: white;
}

.fa,
.fas {
  font-weight: 900;
  color: white;
}

@media screen and (max-width: 760px) {
  .cat i {
    font-size: 14px;
  }
  .stylenone {
    font-size: 13px;
  }
}

/* // -----------------------CSS FOR SLIDER------------- */
.sliderimage img {
  width: 100%;
}

.slick-slider {
  margin: 8px 0px;
}

.slides ul li button::before {
  font-size: 7px;
  color: orangered;
}

.slick-slide div {
  outline: none;
}

.slick-slide img {
  outline: none;
}

.smallphotocont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 25px 0px;
  overflow-x: scroll;
}

.smallphotocont::-webkit-scrollbar {
  display: none;
}

.smallphotocont img {
  height: 180px;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photonaming {
  color: var(--anchor);
  font-weight: 500;
}

.line img:hover {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .smallphotocont img {
    margin: 10px;
    height: 100px;
  }
  .photonaming {
    font-size: 12px;
  }
}

.metercontainer {
  width: 20%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.metercontainer .styling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.metercontainer .styling .countdown {
  font-size: 30px;
  color: white;
  font-family: "Titillium Web", sans-serif;
}

@media screen and (max-width: 700px) {
  .metercontainer {
    width: 40%;
  }
  .metercontainer .styling .countdown {
    font-size: 20px;
  }
}

.newarrivals {
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0px 30px 15px 10px;
  background-color: #f0f0f0;
  border-radius: 15px;
}

.newarrivals img {
  border-radius: 10px;
  width: 100%;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px 0px;
}

.newarrivals .bagname {
  font-size: 15px;
  color: var(--text-color);
}

.newarrivals .price {
  font-size: 21px;
  font-weight: 600;
  color: rgba(67, 0, 252, 0.76);
}

.newarrivals .btn button {
  cursor: pointer;
  padding: 7px 11px;
  border-radius: 7px;
  outline: none;
  border: none;
  margin: 10px;
  background-color: orangered;
  color: white;
}

.newarrivals .btn button:hover {
  background-color: green;
}

.arrivalslider .slick-slide {
  outline: none;
}

@media screen and (max-width: 760px) {
  .newarrivals {
    height: 225px;
    margin: 10px 8px 8px 10px;
  }
  .newarrivals img {
    margin-bottom: 10px;
    height: 130px;
  }
  .newarrivals .price {
    font-size: 18px;
  }
  .newarrivals .bagname {
    text-align: center;
    font-size: 13px;
  }
  .newarrivals .btn button {
    padding: 5px;
    font-size: 12px;
  }
}

footer {
  margin-top: 40px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .flexflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.col1 h2 {
  color: orangered;
  font-family: "Titillium Web", sans-serif;
  margin: 15px 0px 5px 40px;
  font-size: 19px;
}

.col1 ul li {
  padding: 6px;
  list-style: none;
}

.col1 ul li a {
  font-family: "Titillium Web", sans-serif;
  color: white;
  text-decoration: none;
}

.col1 ul li :hover {
  color: #ffc60b;
}

@media screen and (max-width: 760px) {
  footer {
    margin-top: 40px;
    margin-left: -50px;
  }
  footer .forfooter {
    margin-bottom: 35px;
  }
  footer .flexflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col1 h2 {
    font-size: 21px;
  }
  .col1 ul li a {
    font-size: 14px;
  }
  .col1 ul li {
    padding: 2px;
  }
}

/* ---------------------------CSS FOR PRODUCT SCREEEN--------------------------------- */
.productContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #efeff0;
  width: 90%;
  margin: auto;
  padding: 50px;
}

.productContainer .statuscart {
  background-color: white;
  border-radius: 10px;
  padding: 11px;
}

.productimage img {
  height: 400px;
  width: 320px;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.productinfo {
  margin: 0px 100px -14px 29px;
  background-color: #fffcfc;
  padding: 10px 10px;
  border-radius: 22px;
}

.productinfo .productName {
  font-size: 25px;
  font-weight: 500;
  padding: 5px;
}

.productinfo .price {
  font-size: 34px;
  font-weight: 700;
  color: #4b4bb0;
  padding: 5px;
}

.productinfo .counterCart {
  font-size: 31px;
  padding: 14px 50px 14px 5px;
  color: grey;
}

.productinfo .counterCart .qtybtn {
  padding: 2px 28px;
  font-size: 27px;
  cursor: pointer;
  border: 1px solid grey;
  outline: none;
  border-radius: 4px;
}

.productinfo .counterCart .qtybtn:hover {
  background-color: orangered;
  color: white;
}

.productinfo .counterCart .qtyamount {
  font-size: 26px;
  padding: 0px 16px 4px 16px;
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  border: 1px solid grey;
  width: 90px;
}

.productinfo .cart_buy .btn {
  padding: 9px 50px;
  margin: 13px;
  font-size: 18px;
  background-color: #ffc60b;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  color: #2a2929;
}

.productinfo .cart_buy .btn:hover {
  color: green;
}

@media screen and (max-width: 760px) {
  .productContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 20px 0px;
    height: 600pxpx;
  }
  .productContainer .productinfo {
    margin: 15px 58px -14px 0px;
    width: 100%;
    padding: 10px 26px;
    border-radius: 1px;
  }
  .productContainer .productinfo .productName {
    font-size: 22px;
  }
  .productContainer .productinfo .price {
    font-size: 25px;
  }
  .productContainer .productinfo .counterCart {
    font-size: 31px;
    padding: 14px 50px 12px 5px;
    color: grey;
  }
  .productContainer .productinfo .counterCart .qtybtn {
    padding: 6px 28px;
    font-size: 23px;
    cursor: pointer;
    border: 1px solid grey;
    outline: none;
    border-radius: 0px;
  }
  .productContainer .productinfo .counterCart .qtybtn:hover {
    background-color: orangered;
    color: white;
  }
  .productContainer .productinfo .counterCart .qtyamount {
    font-size: 26px;
    padding: 5px 16px 6px 16px;
    border-radius: 0px;
  }
  .productContainer .productinfo .cart_buy .btn {
    padding: 6px 15px;
    margin: 8px;
    font-size: 15px;
  }
  .productimage img {
    height: 360px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.loading {
  text-align: center;
}

.loading i {
  font-size: 20px;
}

.loading span {
  font-size: 20px;
}

.cartcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  border: 2px solid orangered;
  -webkit-box-shadow: 5px 5px 10px orangered;
          box-shadow: 5px 5px 10px orangered;
  margin: 25px auto 10px auto;
}

.cartcontainer img {
  width: 20%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 3.5px;
  border-radius: 15px;
  height: 50%;
}

.cartcontainer .btn {
  padding: 5px 20px;
  padding: 5px 20px;
  margin: 0px 6px;
  cursor: pointer;
  background-color: orangered;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: none;
  border-radius: 5px;
}

.cartcontainer .btn:hover {
  background-color: green;
}

.cartcontainer .cartname,
.cartcontainer .cartprice {
  font-size: 19px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.cartcontainer .qtyselect {
  color: orangered;
  padding: 4px 20px;
  cursor: pointer;
  outline: none;
  margin: 5px;
}

@media screen and (max-width: 700px) {
  .cartcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    height: 350px;
    width: 95%;
  }
  .cartcontainer img {
    width: 80%;
  }
  .cartcontainer .cartname,
  .cartcontainer .cartprice {
    padding: 3px;
    font-size: 18px;
    font-weight: 600;
  }
  .cartcontainer .qtyselect {
    padding: 4px 90px;
    cursor: pointer;
  }
  .cartcontainer .btn {
    margin: 5px;
    padding: 7px 80px;
  }
}

.signincontainer {
  width: 40%;
  margin: auto;
  text-align: start;
}

.signincontainer .signinform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signincontainer .signinform label {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0px;
}

.signincontainer .signinform input {
  width: 94.4%;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border: 1px solid grey;
}

.signincontainer .signinform button {
  width: 100%;
  padding: 10px 0px;
  margin: 39px 0px;
  background-color: #e1e100;
  outline: none;
  border: 1px solid grey;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  font-family: "Titillium Web", sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.signincontainer .signinform button:hover {
  background-color: #008a00;
  color: white;
}

@media screen and (max-width: 700px) {
  .signincontainer {
    width: 90%;
  }
}

.letsmap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.letsmap .allsearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  margin: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.letsmap .allsearch img {
  padding: 5px 0px;
  margin: 6px;
  width: 94%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.letsmap .allsearch .name {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 7px 0px;
}

.letsmap .allsearch .price {
  font-family: "Titillium Web", sans-serif;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
  .letsmap {
    -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  .letsmap .allsearch {
    width: 120px;
  }
  .letsmap .allsearch img {
    width: 92%;
    height: 120px;
  }
}

.registercontainer {
  width: 40%;
  margin: auto;
  text-align: start;
}

.registercontainer .registerform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registercontainer .registerform select {
  height: 42px;
  font-size: 18px;
  padding: 0px;
  outline: none;
  border: 1px solid grey;
  width: 98.5%;
}

.registercontainer .registerform label {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0px;
}

.registercontainer .registerform input {
  width: 94.4%;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border: 1px solid grey;
}

.registercontainer .registerform button {
  width: 100%;
  padding: 10px 0px;
  margin: 39px 0px;
  background-color: #e1e100;
  outline: none;
  border: 1px solid grey;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  font-family: "Titillium Web", sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.registercontainer .registerform button:hover {
  background-color: #008a00;
  color: white;
}

@media screen and (max-width: 700px) {
  .registercontainer {
    width: 90%;
  }
}

.mobilesectionha {
  display: none;
}

@media screen and (max-width: 700px) {
  .mobcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    position: -webkit-sticky;
    bottom: 0;
    height: 48px;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
  .mobcontainer a {
    text-decoration: none;
    color: #707b8e;
  }
  .mobcontainer .mobilesectionha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobcontainer .mobilesectionha i {
    font-size: 21px;
    padding: 4px 30px 0px 30px;
    color: orangered;
  }
  .mobcontainer .mobilesectionha span {
    font-size: 14px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
  }
}

.mobcategory {
  border-top: 1px solid orangered;
  border-bottom: 1px solid orangered;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 25px;
  background-color: #f3f3f3;
  padding: 10px;
}

.mobcategory .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.mobcategory .contents img {
  padding: 5px;
  height: 100px;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.mobcategory .contents span {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: orangered;
}

.checkoutsteps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
}

.checkoutsteps div {
  border-top: 3px solid grey;
  color: grey;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.checkoutsteps .active {
  color: orangered;
  border-top-color: orangered;
}

.paymentform {
  width: 40%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paymentform h1 {
  font-family: "Titillium Web", sans-serif;
}

.paymentform input {
  padding: 10px;
  margin: 5px;
}

.paymentform label {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0px;
}

.paymentform button {
  width: 100%;
  padding: 10px 0px;
  margin: 39px 0px;
  background-color: #e1e100;
  outline: none;
  border: 1px solid grey;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  font-family: "Titillium Web", sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.paymentform button:hover {
  background-color: #008a00;
  color: white;
}

@media screen and (max-width: 700px) {
  .paymentform {
    width: 90%;
  }
}

.placeorder {
  width: 60%;
  margin: auto;
}

.placeorder form h2,
.placeorder form h3 {
  font-family: "Titillium Web", sans-serif;
}

.placeorder form .shipping {
  padding: 20px;
  margin: 25px 0px;
  border: 2px solid orangered;
  border-radius: 10px;
}

.placeorder form .method {
  padding: 20px;
  margin: 5px 0px;
  border: 2px solid orangered;
  border-radius: 10px;
}

.placeorder form button {
  width: 100%;
  margin: auto;
  padding: 10px;
  margin: 15px 0px 10px 0px;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: 1px solid grey;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.placeorder form button:hover {
  background-color: orangered;
  color: white;
}

.placeorder form .cartcontainer.cartcontainershipping {
  width: 100%;
  height: 200px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .placeorder {
    width: 90%;
  }
}

.ordersuccess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 300px;
  width: 50%;
  margin: auto;
}

.ordersuccess a {
  text-decoration: none;
  color: #00005a;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .ordersuccess {
    width: 90%;
  }
}

.fb_dialog.fb_dialog_advanced .fb_dialog_content .fb_customer_chat_icon {
  bottom: 80px;
}
/*# sourceMappingURL=index.css.map */