body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dark {
  height: 100%;
  background-color: black;
}
.fb_dialog.fb_dialog_advanced {
  left: 50px;
}
.rowtitles {
  color: orangered;
  padding-left: 15px;
  font-family: "Titillium Web", sans-serif;
  background-color: rgb(245, 239, 239);
  margin-top: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  overflow-x: hidden;
}
@media screen and (max-width: 760px) {
  html,
  body {
    overflow-x: hidden;
    margin: 0px;
    height: 100%;
  }
}

/* -----------CSS FOR HEADER SECTION------------- */
:root {
  --text-color: #707b8e;
}

.headerContainer {
  border-bottom: 1px solid grey;
  padding: 3px 75px;
  display: flex;
  justify-content: space-between;
  height: 26px;
  align-items: center;
}
.otherInfo {
  display: flex;
  align-items: center;
}
.otherInfo a {
  font-size: 14px;
  text-decoration: none;
  padding: 5px 20px;
  color: var(--text-color);
}
.mode {
  display: flex;
  align-items: center;

  margin-left: 35px;
  height: 20px;
  width: 43px;
  background-color: #d1d6df;
  border-radius: 41px;
  cursor: pointer;
}
.colorText {
  color: var(--text-color);
}
.contactNumber {
  color: var(--text-color);
  font-size: 13px;
}
.circle {
  position: relative;
  left: 0px;
  height: 15px;
  width: 16px;
  background-color: #7b7474;
  border-radius: 50%;
  margin-left: 6px;
  transition: all 0.2s linear;
}
.fa-whatsapp {
  height: 15px;
}

.moveright {
  position: relative;
  left: 16px;
  transition: all 0.2s linear;
}
.counter {
  position: absolute;
  height: 24px;
  width: 23px;
  background-color: rgb(255, 68, 0);
  text-align: center;
  border-radius: 50%;
  left: -1px;
  top: -14px;

  color: white;
}

/* MEDIA QUERY */
@media screen and (max-width: 760px) {
  .headerContainer {
    height: 30px;
    padding: 3px 15px;
  }
  .otherInfo {
    margin-bottom: 2px;
  }
  .otherInfo a {
    font-size: 12px;
    padding: 0px 6px;
  }
  .contactNumber {
    padding: 3px 2px;
    font-size: 10px;
  }
  .sellProduct {
    display: none;
  }
  .circle {
    left: -3px;
  }
  .mode {
    margin-top: 3px;
    height: 17px;
    width: 36px;
  }
  .moveright {
    left: 12px;
  }
}

/* ----------------SEARCH AREA CSS------------- */
.searchArea {
  position: relative;
  left: 15px;
  margin: 7px 0px;
  display: grid;
  align-items: center;
  grid-template-areas: "logo search search search cart";
}
.logo {
  grid-area: logo;
}
.search {
  grid-area: search;
}
.cart {
  grid-area: cart;
  position: relative;
  left: 55px;
}
.logo img {
  height: 65px;
}
.search input {
  width: 75%;
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: 1px solid grey;
}
.category {
  border: 1px solid grey;
  padding: 8px 13px 11px 16px;
  border-right: none;
  background-color: orangered;
  color: white;
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
}
.fa-search:before {
  content: "\f002";
  font-size: 26px;
  background-color: orangered;
  padding: 7px 28px 9px 27px;
  border-radius: 0px 18px 18px 0px;
  position: relative;
  top: 4px;
  cursor: pointer;
}

.cart a {
  text-decoration: none;
  color: black;
  padding: 16px;
  font-size: 19px;
}

/* MEDIA QUERY */
@media screen and (max-width: 1350px) {
  .search input {
    width: 50%;
  }
}
@media screen and (max-width: 760px) {
  .searchArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-template-areas: none;

    margin: 3px 0px;
    .counter {
      height: 20px;
      width: 20px;
    }
  }
  .search input {
    width: 95%;
    padding: 7px 91px 7px 10px;
    font-size: 13px;
    border-radius: 18px 0px 0px 18px;
    margin: 7px -19px;
  }
  .logo img {
    position: relative;
    left: -120px;
    top: 7px;
    height: 65px;
    margin: 0px 15px;
  }
  .category {
    display: none;
  }
  .fa-search:before {
    font-size: 10px;
    background-color: rgb(255, 64, 0);
    padding: 8.2px 14px 5px 14px;
    font-size: 18px;
    border-radius: 0px 18px 18px 0px;
  }
  .cart {
    position: absolute;
    top: 25px;
    left: 150px;
    a {
      padding: 9px;
    }
    i {
      margin: 0;
      font-size: 18px;
    }
  }
}

/* -------------------------------------CATEGORY CSS--------------------------------------------- */
.categorycontainer {
  background-color: orangered;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.cat {
  position: relative;
  cursor: pointer;
}
.categorylist {
  height: 0px;
  position: absolute;
  overflow: hidden;
  background-color: rgb(234, 235, 238);
  margin: 10px 0px;
  padding: 0px 68px 0px 0px;
  transition: all 0.5s ease;
  z-index: 1;
}
.showcategory {
  height: 330px;
  transition: all 0.5s ease;
}
.categorylist li {
  padding: 10px 3px 10px 5px;
  list-style: none;
}
.categorylist li a {
  text-decoration: none;
}
.categorylist li a:hover {
  color: orangered;
}
.stylenone {
  text-decoration: none;
  color: white;
}
.fa,
.fas {
  font-weight: 900;
  color: white;
}
@media screen and (max-width: 760px) {
  .cat i {
    font-size: 14px;
  }
  .stylenone {
    font-size: 13px;
  }
}
/* // -----------------------CSS FOR SLIDER------------- */

.sliderimage {
  img {
    width: 100%;
  }
}

.slick-slider {
  margin: 8px 0px;
}
.slides ul li button {
  &::before {
    font-size: 7px;
    color: orangered;
  }
}
.slick-slide div {
  outline: none;
}
.slick-slide img {
  outline: none;
}

// -----------------------------CSS FOR SMALL PRODUCT-------------------------
.smallphotocont {
  display: flex;
  justify-content: space-around;
  margin: 25px 0px;
  overflow-x: scroll;
}
.smallphotocont::-webkit-scrollbar {
  display: none;
}
.smallphotocont img {
  height: 180px;
}
.line {
  display: flex;

  flex-direction: column;
  align-items: center;
}
.photonaming {
  color: var(--anchor);
  font-weight: 500;
}
.line img:hover {
  transform: scale(1.005);
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .smallphotocont img {
    margin: 10px;
    height: 100px;
  }
  .photonaming {
    font-size: 12px;
  }
}
// -----------------------------------CSS FOR METER--------------------------
.metercontainer {
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  position: relative;

  align-items: center;
  background-color: black;
  .styling {
    display: flex;
    flex-direction: column;
    text-align: center;
    .countdown {
      font-size: 30px;
      color: white;
      font-family: "Titillium Web", sans-serif;
    }
  }
}
@media screen and (max-width: 700px) {
  .metercontainer {
    width: 40%;
    .styling {
      .countdown {
        font-size: 20px;
      }
    }
  }
}
// --------------------------CSS FOR ROW -------------------------

.newarrivals {
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0px 30px 15px 10px;
  background-color: #f0f0f0;
  border-radius: 15px;

  img {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    object-fit: contain;
    padding: 5px 0px;
  }
  .bagname {
    font-size: 15px;
    color: var(--text-color);
  }
  .price {
    font-size: 21px;
    font-weight: 600;
    color: rgba(67, 0, 252, 0.76);
  }
  .btn button {
    cursor: pointer;
    padding: 7px 11px;
    border-radius: 7px;
    outline: none;
    border: none;
    margin: 10px;
    background-color: orangered;
    color: white;
    &:hover {
      background-color: green;
    }
  }
}
.arrivalslider {
  .slick-slide {
    outline: none;
  }
}
@media screen and (max-width: 760px) {
  .newarrivals {
    height: 225px;
    margin: 10px 8px 8px 10px;
    img {
      margin-bottom: 10px;
      height: 130px;
    }
    .price {
      font-size: 18px;
    }
    .bagname {
      text-align: center;
      font-size: 13px;
    }
    .btn button {
      padding: 5px;
      font-size: 12px;
    }
  }
}
// -----------------------CSS FOOTER-------------------------
footer {
  margin-top: 40px;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  .flexflex {
    display: flex;
    justify-content: space-around;
  }
}
.col1 h2 {
  color: orangered;
  font-family: "Titillium Web", sans-serif;
  margin: 15px 0px 5px 40px;
  font-size: 19px;
}

.col1 ul li {
  padding: 6px;
  list-style: none;
}
.col1 ul li a {
  font-family: "Titillium Web", sans-serif;
  color: white;
  text-decoration: none;
}
.col1 ul li :hover {
  color: #ffc60b;
}

@media screen and (max-width: 760px) {
  footer {
    margin-top: 40px;
    margin-left: -50px;
    .forfooter {
      margin-bottom: 35px;
    }
    .flexflex {
      flex-direction: column;
    }
  }
  .col1 h2 {
    font-size: 21px;
  }
  .col1 ul li a {
    font-size: 14px;
  }
  .col1 ul li {
    padding: 2px;
  }
}

/* ---------------------------CSS FOR PRODUCT SCREEEN--------------------------------- */
.productContainer {
  display: flex;

  background-color: #efeff0;
  width: 90%;
  margin: auto;

  padding: 50px;
  .statuscart {
    background-color: white;
    border-radius: 10px;
    padding: 11px;
  }
}
.productimage img {
  height: 400px;
  width: 320px;
  border-radius: 10px;
  object-fit: contain;
}
.productinfo {
  margin: 0px 100px -14px 29px;
  background-color: #fffcfc;

  padding: 10px 10px;
  border-radius: 22px;

  .productName {
    font-size: 25px;
    font-weight: 500;
    padding: 5px;
  }
  .price {
    font-size: 34px;
    font-weight: 700;
    color: #4b4bb0;
    padding: 5px;
  }
  .counterCart {
    font-size: 31px;
    padding: 14px 50px 14px 5px;
    color: grey;

    .qtybtn {
      padding: 2px 28px;
      font-size: 27px;
      cursor: pointer;
      border: 1px solid grey;
      outline: none;
      border-radius: 4px;
      &:hover {
        background-color: orangered;
        color: white;
      }
    }
    .qtyamount {
      font-size: 26px;
      padding: 0px 16px 4px 16px;
      background-color: #ffffff;
      border-radius: 4px;
      outline: none;
      border: 1px solid grey;
      width: 90px;
    }
  }
  .cart_buy {
    .btn {
      padding: 9px 50px;
      margin: 13px;
      font-size: 18px;
      background-color: #ffc60b;
      border: 1px solid grey;
      border-radius: 10px;
      cursor: pointer;
      outline: none;
      color: #2a2929;
      &:hover {
        color: green;
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .productContainer {
    flex-direction: column;
    width: 100%;
    padding: 20px 0px;
    height: 600pxpx;
    .productinfo {
      margin: 15px 58px -14px 0px;
      width: 100%;
      padding: 10px 26px;
      border-radius: 1px;
      .productName {
        font-size: 22px;
      }
      .price {
        font-size: 25px;
      }
      .counterCart {
        font-size: 31px;
        padding: 14px 50px 12px 5px;
        color: grey;

        .qtybtn {
          padding: 6px 28px;
          font-size: 23px;
          cursor: pointer;
          border: 1px solid grey;
          outline: none;
          border-radius: 0px;
          &:hover {
            background-color: orangered;
            color: white;
          }
        }
        .qtyamount {
          font-size: 26px;
          padding: 5px 16px 6px 16px;

          border-radius: 0px;
        }
      }
      .cart_buy {
        .btn {
          padding: 6px 15px;
          margin: 8px;
          font-size: 15px;
        }
      }
    }
  }
  .productimage img {
    height: 360px;
    width: 100%;

    object-fit: contain;
  }
}

// ----------------------CSS FOR LAODING-----------------------
.loading {
  text-align: center;
  i {
    font-size: 20px;
  }
  span {
    font-size: 20px;
  }
}

// -----------------------------CSS FOR CART SCREEN--------------------------
.cartcontainer {
  display: flex;
  align-items: center;
  height: 200px;
  justify-content: space-around;
  width: 80%;
  border: 2px solid orangered;
  box-shadow: 5px 5px 10px orangered;
  margin: 25px auto 10px auto;
  img {
    width: 20%;
    object-fit: contain;
    padding: 3.5px;
    border-radius: 15px;
    height: 50%;
  }
  .btn {
    padding: 5px 20px;
    padding: 5px 20px;
    margin: 0px 6px;
    cursor: pointer;
    background-color: orangered;
    color: white;
    transition: all 0.5s ease;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: green;
    }
  }
  .cartname,
  .cartprice {
    font-size: 19px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
  }
  .qtyselect {
    color: orangered;
    padding: 4px 20px;
    cursor: pointer;
    outline: none;
    margin: 5px;
  }
}
@media screen and (max-width: 700px) {
  .cartcontainer {
    flex-direction: column;
    justify-content: unset;
    height: 350px;
    width: 95%;
    img {
      width: 80%;
    }
    .cartname,
    .cartprice {
      padding: 3px;
      font-size: 18px;
      font-weight: 600;
    }
    .qtyselect {
      padding: 4px 90px;
      cursor: pointer;
    }
    .btn {
      margin: 5px;
      padding: 7px 80px;
    }
  }
}

// -------------------------------CSS FOR SIGN IN SCREEN------------------------
.signincontainer {
  width: 40%;
  margin: auto;
  text-align: start;

  .signinform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // text-align: center;
    label {
      font-size: 18px;
      font-weight: 600;
      padding: 10px 0px;
    }
    input {
      width: 94.4%;
      padding: 10px;
      outline: none;
      font-size: 18px;
      border: 1px solid grey;
    }
    button {
      width: 100%;
      padding: 10px 0px;
      margin: 39px 0px;
      background-color: #e1e100;
      outline: none;
      border: 1px solid grey;
      cursor: pointer;
      font-weight: 600;
      font-size: 17px;
      font-family: "Titillium Web", sans-serif;
      transition: all 0.5s ease;
      &:hover {
        background-color: rgb(0, 138, 0);
        color: white;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .signincontainer {
    width: 90%;
  }
}
// ----------------------------CSS FOR ALLSEARCH--------------------
.letsmap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  .allsearch {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    img {
      padding: 5px 0px;
      margin: 6px;
      width: 94%;
      height: 180px;
      object-fit: cover;
      border-radius: 15px;
    }
    .name {
      font-family: "Titillium Web", sans-serif;
      font-size: 16px;
      font-weight: 600;
      margin: 7px 0px;
    }
    .price {
      font-family: "Titillium Web", sans-serif;
      font-size: 19px;
      font-weight: 600;
      margin-bottom: 5px;
    }
  }
}
@media screen and (max-width: 700px) {
  .letsmap {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    .allsearch {
      width: 120px;
      img {
        width: 92%;
        height: 120px;
      }
    }
  }
}
// -------------------------------CSS FOR REGISTER--------------------------------
.registercontainer {
  width: 40%;
  margin: auto;
  text-align: start;

  .registerform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // text-align: center;
    select {
      height: 42px;
      font-size: 18px;
      padding: 0px;
      outline: none;
      border: 1px solid grey;
      width: 98.5%;
    }
    label {
      font-size: 18px;
      font-weight: 600;
      padding: 10px 0px;
    }
    input {
      width: 94.4%;
      padding: 10px;
      outline: none;
      font-size: 18px;
      border: 1px solid grey;
    }
    button {
      width: 100%;
      padding: 10px 0px;
      margin: 39px 0px;
      background-color: #e1e100;
      outline: none;
      border: 1px solid grey;
      cursor: pointer;
      font-weight: 600;
      font-size: 17px;
      font-family: "Titillium Web", sans-serif;
      transition: all 0.5s ease;
      &:hover {
        background-color: rgb(0, 138, 0);
        color: white;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .registercontainer {
    width: 90%;
  }
}
.mobilesectionha {
  display: none;
}
// ------------------------------------------CSS FOR THE FIXED SECTION-----------------------------------------
@media screen and (max-width: 700px) {
  .mobcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    position: -webkit-sticky;
    bottom: 0;
    height: 48px;
    width: 100%;
    z-index: 1;
    background-color: white;
    a {
      text-decoration: none;
      color: #707b8e;
    }
    .mobilesectionha {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        font-size: 21px;
        padding: 4px 30px 0px 30px;
        color: orangered;
      }
      span {
        font-size: 14px;
        font-family: "Titillium Web", sans-serif;
        font-weight: 600;
      }
    }
  }
}
// ---------------------CSS FOR MOB CATEGORY------------------

.mobcategory {
  border-top: 1px solid orangered;
  border-bottom: 1px solid orangered;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 25px;
  background-color: rgb(243, 243, 243);
  padding: 10px;
  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    img {
      padding: 5px;
      height: 100px;
      width: 70%;
      object-fit: cover;
      border-radius: 15px;
    }
    span {
      font-family: "Titillium Web", sans-serif;
      font-size: 18px;
      font-weight: 600;
      color: orangered;
    }
  }
}

// ------------------------------CSS FOR CHECKOUT SCREEN----------------
.checkoutsteps {
  display: flex;
  margin: 5px;
  div {
    border-top: 3px solid grey;
    color: grey;
    flex: 1;
  }
  .active {
    color: orangered;
    border-top-color: orangered;
  }
}

// ---------------------------------CSS FOR PAYMENT--------------------------
.paymentform {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-family: "Titillium Web", sans-serif;
  }
  input {
    padding: 10px;
    margin: 5px;
  }
  label {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px;
  }
  button {
    width: 100%;
    padding: 10px 0px;
    margin: 39px 0px;
    background-color: #e1e100;
    outline: none;
    border: 1px solid grey;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    font-family: "Titillium Web", sans-serif;
    transition: all 0.5s ease;
    &:hover {
      background-color: rgb(0, 138, 0);
      color: white;
    }
  }
}
@media screen and (max-width: 700px) {
  .paymentform {
    width: 90%;
  }
}

// ----------------------CSS FOR PLACE ORDER------------------------
.placeorder {
  form {
    h2,
    h3 {
      font-family: "Titillium Web", sans-serif;
    }
    .shipping {
      padding: 20px;
      margin: 25px 0px;
      border: 2px solid orangered;
      border-radius: 10px;
    }
    .method {
      padding: 20px;
      margin: 5px 0px;
      border: 2px solid orangered;
      border-radius: 10px;
    }
    button {
      width: 100%;
      margin: auto;
      padding: 10px;
      margin: 15px 0px 10px 0px;
      font-family: "Titillium Web", sans-serif;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      outline: none;
      border: 1px solid grey;
      transition: all 0.3s ease;
      &:hover {
        background-color: orangered;
        color: white;
      }
    }
    .cartcontainer.cartcontainershipping {
      width: 100%;
      height: 200px;
      box-shadow: none;
      border-radius: 10px;
    }
  }
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .placeorder {
    width: 90%;
  }
}
// -------------------------CSS FOR ORDERSUCCESS----------------------

.ordersuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 50%;
  margin: auto;
  a {
    text-decoration: none;
    color: rgb(0, 0, 90);
    font-weight: bold;
    font-size: 20px;
  }
}
@media screen and (max-width: 700px) {
  .ordersuccess {
    width: 90%;
  }
}
